.tableContainer {
  border: blue solid;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.bigTable {
  border: yellow 5px;
}
.bigTable td {
  border: black solid;
  padding: 0 0.5vw;
}
.bigTable th {
  border: black solid;
  padding: 0 0.5vw;
  width: max-content;
}
.tableHead {
  width: max-content;
  display: flex;
  flex-direction: row;
}
.tableBody {
  display: flex;
  flex-direction: column;
}
.tableBody td {
  border: black solid;
  padding: 0 0.5vw;
}
