.starContainer span {
  background: #ffff00;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(186, 186, 11, 0.1);

  animation: starFall 4s linear infinite;
}
.starContainer span::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 1.5px;
  background: linear-gradient(90deg, #ffff00, transparent);
  transform: translateY(-50%);
}

.star1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;zi
  height: 5px;


}
.star2 {
  position: absolute;
  top: 20%;
  left: 80%;
  width: 5px;
  height: 5px;


  animation-duration: 1.5s;
}
.star3 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 5px;
  height: 5px;


  animation-duration: 2.5s;
}
.star4 {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 5px;
  height: 5px;
 
  
  animation-delay: 0.5s;
}
@keyframes starFall {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 0.1;
  }
  5% {
    opacity: 1;
  }

  100% {
    transform: rotate(315deg) translateX(-700px);
    opacity: 0;
  }
}
